<%= form_for @ventas_presupuesto, :html => { :class => 'form-horizontal' } do |f| %>

  <% if @ventas_presupuesto.errors.any? %>  
  <div id="errorExplanation">  
    <h2><%= pluralize(@ventas_presupuesto.errors.count, "error") %> al guardar el registro:</h2>  
    <ul>  
    <% @ventas_presupuesto.errors.full_messages.each do |msg| %>  
      <li><%= msg %></li>  
    <% end %>  
    </ul>  
  </div>  
  <% end %> 

  <% if @ventas_presupuesto.new_record? %> 
    <%= render :partial => 'form_new', locals: {:f => f} %>
  <% else %>
    <%= render :partial => 'form_edit', locals: {:f => f} %>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ventas_presupuestos_path, :class => 'btn' %>
  </div>

  <script type="text/javascript">
    var factor = <%= APP_CONFIG['presupuesto_factor'].to_json.html_safe %>
  </script> 

<% end %>
