<h2>Gestión de Cobranzas</h2>
<div class="container offset1">
  <div class="row span6 offset1">
    <%= form_for @factura, :url => show_cobranzas_path do |f| %>
      <div class="row">
        <div class="span3">
          <div class="control-group">
            <%= f.label :co_cli, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :co_cli, :class => 'input-small', :value => params[:profit_factura].nil? ? "" : params[:profit_factura][:co_cli] %>
            </div>
          </div>
          <div class="control-group">
            <%= label_tag :dias_vencidos_desde, nil, :class => 'control-label' %>
            <div class="controls">
              <%= number_field_tag :dias_vencidos_desde, params[:dias_vencidos_desde].nil? ? "0" : params[:dias_vencidos_desde], :class => 'input-small', :step => 30  %>
            </div>
            <div class="controls">
              <%= number_field_tag :dias_vencidos_hasta, params[:dias_vencidos_hasta].nil? ? "0" : params[:dias_vencidos_hasta], :class => 'input-small', :step => 30  %>
            </div>
          </div>          
          <div class="control-group">
            <%= label_tag :giros_vencidos, nil, :class => 'control-label' %>
            <div class="controls">
              <%= number_field_tag :giros_vencidos_desde, params[:giros_vencidos_desde].nil? ? "0" : params[:giros_vencidos_desde], :class => 'input-small' %>
            </div>
            <div class="controls">
              <%= number_field_tag :giros_vencidos_hasta, params[:giros_vencidos_hasta].nil? ? "0" : params[:giros_vencidos_hasta], :class => 'input-small' %>
            </div>
          </div>          
          <div class="control-group">
            <%= label_tag :vencidos_desde, nil, :class => 'control-label' %>
            <div class="controls">
              <%= text_field :vencidos_desde, params[:vencidos_desde].nil? ? "0" : params[:vencidos_desde], :class => 'input-small', "data-behaviour" => 'datepicker' %>
            </div>
            <div class="controls">
              <%= text_field :vencidos_hasta, params[:vencidos_hasta].nil? ? "0" : params[:vencidos_hasta], :class => 'input-small', "data-behaviour" => 'datepicker' %>
            </div>
          </div>          
          <div class="control-group">
            <%= label_tag :plazo_pago, nil, :class => 'control-label' %>
            <div class="controls">
              <%= text_field :plazo_pago, "", :class => 'input-small', "data-behaviour" => 'datepicker', :value => (params[:plazo_pago].nil? ? "" : params[:plazo_pago][0]) %>
            </div>
          </div>          
        </div>
        <div class="span3">
          <div class="control-group">
            <%= label_tag :lineas, nil, :class => 'control-label' %>
            <div class="controls">
              <%= select_tag :co_lin, options_from_collection_for_select(@lineas, "co_lin", "lin_des", params[:co_lin].nil? ? "" : params[:co_lin]), :prompt => "", :class => 'input-medium' %>
            </div>
          </div>          
          <div class="control-group">
            <%= label_tag :vendedores, nil, :class => 'control-label' %>
            <div class="controls">
              <%= select_tag :co_ven, options_from_collection_for_select(@vendedores, "co_ven", "ven_des", params[:co_ven].nil? ? "" : params[:co_ven]), :prompt => "", :class => 'input-medium' %>
            </div>
          </div>          
          <div class="control-group">
            <%= label_tag :zonas, nil, :class => 'control-label' %>
            <div class="controls">
              <%= select_tag :co_zon, options_from_collection_for_select(@zonas, "co_zon", "zon_des", params[:co_zon].nil? ? "" : params[:co_zon]), :prompt => "", :class => 'input-medium' %>
            </div>
          </div>
          <div class="control-group">
            <%= label_tag :sin_seguimientos_recientes, nil, :class => 'control-label' %>
            <div class="controls">
              <%= check_box_tag :recientes, "1", params[:recientes].nil? ? false : true %>
            </div>
          </div>
        </div>
      </div>

      <%= submit_tag "Buscar", :class => 'bnt',:id => 'btn_html' %>
      <br><br>
      <%= submit_tag 'Exportar XLS', :class => 'bnt', :id => 'btn_xls' %>

    <% end %>    
  </div>
  <div class="row" style="font-size:12px">
    <div class="span7" data-toggle="modal-gallery" data-target="#modal-gallery">
      <table id="tfacturas" class="table table-striped tablesorter">
        <thead>
          <tr>
            <th></th>
            <th>Cédula <i style="color:transparent" class="icon-resize-vertical"></i> </th>
            <th>Nombre <i style="color:transparent" class="icon-resize-vertical"></i></th>
            <th data-sorter="false">Teléfonos</th>
            <th data-sorter="false">Dirección</th>
            <th data-sorter="false"></th>
            <th>Nro. Factura <i style="color:transparent" class="icon-resize-vertical"></i> </th>
            <th>Fecha de Compra <i style="color:transparent" class="icon-resize-vertical"></i> </th>
            <th>Ultima Fecha Pago <i style="color:transparent" class="icon-resize-vertical"></i> </th>
            <th>Días sin cancelar <i style="color:transparent" class="icon-resize-vertical"></i> </th>
            <th>Giros Vencídos <i style="color:transparent" class="icon-resize-vertical"></i> </th>
            <th>Monto Vencído <i style="color:transparent" class="icon-resize-vertical"></i> </th>
            <th data-sorter="false">Experiencia</th>
            <th>Vendedora <i style="color:transparent" class="icon-resize-vertical"></i> </th>
            <th>Zona <i style="color:transparent" class="icon-resize-vertical"></i> </th>
            <th data-sorter="false">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% unless @facturas.nil? %>
            <% @facturas.each do |factu| %>
              <% factu.generar_resumen Time.now %>
              <% unless factu.cancelado? or (factu.atendido_recientemente?(10) and !@recientes.empty?) %>
                
                <tr id="<%= factu.fact_num %>">
                  <%= form_for factu, :url => update_cobranzas_path, :remote => true do |f| %>
                  <td> <a style="color:transparent" id="" href="javascript:$('#<%= factu.fact_num %>').remove();$('#tfacturas').trigger('updateAll');"><i class="icon-remove-circle"></i></a>  </td>
                  <td> 
                    <%= factu.cliente.co_cli %> <br>
                    <p> <%= link_to "Ficha", ventas_cliente_path(factu.cliente_venta), :class => "btn btn-mini btn-info", :target => '_blank' unless factu.cliente_venta.nil? %> </p>
                    <%= hidden_field :update, :ci, :value => factu.cliente_venta.nil? ? "" : factu.cliente_venta.ci.to_s  %>
                    <%= hidden_field :update, :co_cli, :value => factu.cliente.nil? ? "" : factu.cliente.co_cli  %>
                  </td>  
                  <td> <%= factu.cliente.cli_des %> </td>
                  <td> 
                    <%= text_field :update, :tel1, :class => 'input-small', :value => factu.cliente_venta.nil? ? "" : factu.cliente_venta.telefono  %> <br>
                    <%= text_field :update, :tel2, :class => 'input-small', :value => factu.cliente_venta.nil? ? "" : factu.cliente_venta.telefono2 %> 
                    <%= text_field :update, :tel3, :class => 'input-small', :value => factu.cliente_venta.nil? ? "" : factu.cliente_venta.telefono3 %> 
                  </td>
                  <td> 
                    <%= text_area :update, :dir1, :cols => 30, :rows => 2, :class => 'input-large', :value => factu.cliente_venta.nil? ? "" : factu.cliente_venta.direccion %> <br>
                    <%= text_area :update, :dir2, :cols => 30, :rows => 2, :class => 'input-large', :value => factu.cliente_venta.nil? ? "" : factu.cliente_venta.direccion2 %> 
                  </td>
                  <td> 
                    <p><%= submit_tag "Actualizar", :class => 'btn btn-mini btn-primary', :id => "btn_update" %></p>
                  </td>
                  <td> <%= factu.fact_num %> </td>
                  <td> <%= factu.fec_emis.to_date %> </td>
                  <td class="span2"> 
                    <%= factu.fecha_ultimo_pago.to_date unless factu.fecha_ultimo_pago.nil? %> 
                    <p> <%= link_to "Pagos", historico_cobranzas_by_factura_path(factu), :class => "btn btn-mini btn-info", :target => '_blank' %> </p>
                  </td>
                  <td> <%= factu.dias_desde_ultimo_pago %> </td>
                  <td> <%= factu.giros_vencidos_sin_cancelar %> </td>
                  <td> <%= factu.saldo_vencido_sin_cancelar.round 2 %> 
                    <p> <%= link_to "Cuenta", cuenta_cobranzas_path(factu.cliente), :class => "btn btn-mini btn-info", :target => '_blank' %> </p>
                  </td>
                  <td> 
                    <%= factu.experiencia %> 
                    <p> <%= link_to "Seguimientos", ventas_seguimientos_path + "?ventas_seguimiento%5Bcliente_id%5D=#{factu.cliente.co_cli}", :class => "btn btn-mini btn-success", :target => '_blank' %> </p>
                  </td>
                  <td> <%= factu.vendedor.ven_des %> </td>
                  <td> <%= factu.cliente.zona.zon_des %> </td>
                  <td> 
                    <p> <%= link_to "Nuevo Seguimiento", new_ventas_seguimiento_path + "?ventas_seguimiento%5Bcliente_id%5D=#{factu.cliente.co_cli}", :class => "btn btn-mini btn-inverse", :target => '_blank' %> </p>
                  </td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <div id="pager" class="pager">
        <form>
          <img src="/img/first.png" class="first"/>
          <img src="/img/prev.png" class="prev"/>
          <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
          <img src="/img/next.png" class="next"/>
          <img src="/img/last.png" class="last"/>        
        </form>
      </div>    

    </div>
  </div>
</div>
