<h2>Registro de Usuario</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :username %><br />
  <%= f.text_field :username %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :profit %><br />
  <%= f.select :profit, options_from_collection_for_select(Profit::Employee.all, "employee_i", "last_name"), :prompt => "" %></div>  

  <div><%= f.submit "Registrar" %></div>
<% end %>

<%= render "devise/shared/links" %>
