<%= form_for @ventas_cliente, :html => { :class => 'form-horizontal' } do |f| %>


<h2>Ubicaci贸n</h2>
  <div class="control-group">
    <%= f.label :latitude, :class => 'control-label' %>
    <div class="controls">
      <%= gmaps4rails(@gmap_json) %>
    </div>
  </div>
<h2>Identificaci贸n</h2>
  <div class="control-group">
    <%= f.label :avatar, :class => 'control-label' %>
    <div class="controls">
      <%= image_tag @ventas_cliente.avatar.url(:thumb) if @ventas_cliente.avatar? %>
      <%= f.file_field :avatar, :class => 'file_field' %>
    </div>
  </div>  

  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'input-xxlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ci, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :ci, :class => 'input-small' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nacionalidad, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nacionalidad, :class => 'input-medium' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :estado_civil, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :estado_civil, :class => 'input-medium', :size => 60 %>
    </div>
  </div>

<h2>Direcci贸n</h2>
  <div class="control-group">
    <%= f.label :parroquia_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :parroquia_id, Parroquia.all.collect {|p| [ p.municipio.estado.descripcion + "-" + p.municipio.descripcion + "-" + p.descripcion, p.id ] }, :include_blank => true , :class => 'input-xxlarge', :size => "24x4" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :direccion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :direccion, :class => 'input-xxlarge', :size => "24x4" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :telefono, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :telefono, :class => 'input-small' %>
    </div>
  </div>
<h2>Ocupaci贸n</h2>
  <div class="control-group">
    <%= f.label :empleado_en, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :empleado_en, :class => 'input-large' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :direccion_trabajo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :direccion_trabajo, :class => 'input-xxlarge', :size => "24x4" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :telefono_trabajo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :telefono_trabajo, :class => 'input-small' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tiempo, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :tiempo, :class => 'input-medium' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sueldo, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :sueldo, :class => 'input-small' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cargo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cargo, :class => 'input-medium' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :subordinados, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :subordinados, :class => 'input-small' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :otros_ingresos, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :otros_ingresos, :class => 'input-small' %>
    </div>
  </div>
<h2>Conyugue</h2>
  <div class="control-group">
    <%= f.label :conyugue_nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :conyugue_nombre, :class => 'input-xxlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :conyugue_ci, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :conyugue_ci, :class => 'input-small' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :conyugue_empleado_en, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :conyugue_empleado_en, :class => 'input-medium' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :conyugue_telefono, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :conyugue_telefono, :class => 'input-small' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :conyugue_tiempo, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :conyugue_tiempo, :class => 'input-small' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :conyugue_sueldo, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :conyugue_sueldo, :class => 'input-small' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :conyugue_cargo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :conyugue_cargo, :class => 'input-medium' %>
    </div>
  </div>
<h2>Referencias Personales</h2>
  <h3>Referencia 1</h3>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :referencia_uno_nombre, :class => 'input-large' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :direccion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :referencia_uno_direccion, :class => 'input-xxlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :telefono, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :referencia_uno_telefono, :class => 'input-small' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :parentesco, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :referencia_uno_parentesco, :class => 'input-small' %>
    </div>
  </div>

  <h3>Referencia 2</h3>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :referencia_dos_nombre, :class => 'input-large' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :direccion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :referencia_dos_direccion, :class => 'input-xxlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :telefono, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :referencia_dos_telefono, :class => 'input-small' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :parentesco, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :referencia_dos_parentesco, :class => 'input-small' %>
    </div>
  </div>

  <h3>Referencia 3</h3>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :referencia_tres_nombre, :class => 'input-large' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :direccion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :referencia_tres_direccion, :class => 'input-xxlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :telefono, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :referencia_tres_telefono, :class => 'input-small' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :parentesco, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :referencia_tres_parentesco, :class => 'input-small' %>
    </div>
  </div>

  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cance l")),
                ventas_clientes_path, :class => 'btn' %>
  </div>
<% end %>
