<%- model_class = Ventas::Cliente -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>

  <div class="row span7 offset2">
    <%= form_for Ventas::Cliente.new, :url => ventas_clientes_path, :method => 'get' do |f| %>

      <div class="control-group">
        <%= f.label :ci, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :ci, :class => 'input-medium search-query' %>
        </div>
      </div>
      
      <%= submit_tag "Buscar", :class => 'bnt' %>
      <%= link_to "Limpiar", ventas_clientes_path, :class => 'bnt-warning' %>
      
    <% end %>    
  </div>


</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:avatar) %></th>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:ci) %></th>
      <th><%= model_class.human_attribute_name(:direccion) %></th>
      <th><%= model_class.human_attribute_name(:telefono) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @ventas_clientes.each do |cliente| %>
      <tr>
        <td><%= image_tag cliente.avatar.url(:thumb) %></td>
        <td><%= link_to cliente.nombre, ventas_cliente_path(cliente) %></td>
        <td><%= link_to cliente.ci, ventas_cliente_path(cliente) %></td>
        <td><%= cliente.direccion %></td>
        <td><%= cliente.telefono %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_ventas_cliente_path(cliente), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      ventas_cliente_path(cliente),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
          <%= link_to t('.print', :default => t("helpers.links.print")),
                      print_ventas_clientes_path(cliente) + ".pdf", :class => 'btn btn-mini btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @ventas_clientes %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_ventas_cliente_path,
            :class => 'btn btn-primary' %>
