<%- model_class = Ventas::Cliente -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">

  <dt><strong><%= model_class.human_attribute_name(:latitude) %>:</strong></dt>
  <dd><%= gmaps4rails(@gmap_json) %></dd>  
  <dt><strong><%= model_class.human_attribute_name(:avatar_file_name) %>:</strong></dt>
  <dd><%= image_tag @ventas_cliente.avatar.url(:thumb) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @ventas_cliente.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ci) %>:</strong></dt>
  <dd><%= @ventas_cliente.ci %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nacionalidad) %>:</strong></dt>
  <dd><%= @ventas_cliente.nacionalidad %></dd>
  <dt><strong><%= model_class.human_attribute_name(:estado_civil) %>:</strong></dt>
  <dd><%= @ventas_cliente.estado_civil %></dd>
  <dt><strong><%= model_class.human_attribute_name(:direccion) %>:</strong></dt>
  <dd><%= @ventas_cliente.direccion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telefono) %>:</strong></dt>
  <dd><%= @ventas_cliente.telefono %></dd>
  <dt><strong><%= model_class.human_attribute_name(:empleado_en) %>:</strong></dt>
  <dd><%= @ventas_cliente.empleado_en %></dd>
  <dt><strong><%= model_class.human_attribute_name(:direccion_trabajo) %>:</strong></dt>
  <dd><%= @ventas_cliente.direccion_trabajo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telefono_trabajo) %>:</strong></dt>
  <dd><%= @ventas_cliente.telefono_trabajo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tiempo) %>:</strong></dt>
  <dd><%= @ventas_cliente.tiempo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sueldo) %>:</strong></dt>
  <dd><%= @ventas_cliente.sueldo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cargo) %>:</strong></dt>
  <dd><%= @ventas_cliente.cargo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:subordinados) %>:</strong></dt>
  <dd><%= @ventas_cliente.subordinados %></dd>
  <dt><strong><%= model_class.human_attribute_name(:otros_ingresos) %>:</strong></dt>
  <dd><%= @ventas_cliente.otros_ingresos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:conyugue_nombre) %>:</strong></dt>
  <dd><%= @ventas_cliente.conyugue_nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:conyugue_ci) %>:</strong></dt>
  <dd><%= @ventas_cliente.conyugue_ci %></dd>
  <dt><strong><%= model_class.human_attribute_name(:conyugue_empleado_en) %>:</strong></dt>
  <dd><%= @ventas_cliente.conyugue_empleado_en %></dd>
  <dt><strong><%= model_class.human_attribute_name(:conyugue_telefono) %>:</strong></dt>
  <dd><%= @ventas_cliente.conyugue_telefono %></dd>
  <dt><strong><%= model_class.human_attribute_name(:conyugue_tiempo) %>:</strong></dt>
  <dd><%= @ventas_cliente.conyugue_tiempo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:conyugue_sueldo) %>:</strong></dt>
  <dd><%= @ventas_cliente.conyugue_sueldo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:conyugue_cargo) %>:</strong></dt>
  <dd><%= @ventas_cliente.conyugue_cargo %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              ventas_clientes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_ventas_cliente_path(@ventas_cliente), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              ventas_cliente_path(@ventas_cliente),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
