<h1>Listing parroquia</h1>

<table>
  <tr>
    <th>Descripcion</th>
    <th>Municipio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @parroquia.each do |p| %>
  <tr>
    <td><%= p.descripcion %></td>
    <td><%= p.municipio_id %></td>
    <td><%= link_to 'Show', p %></td>
    <td><%= link_to 'Edit', edit_parroquium_path(p) %></td>
    <td><%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Parroquium', new_parroquium_path %>
