<% unless @cliente.nil? %>
<h2>Información del Cuenta de Clientes</h2>

<label>Cedula: </label> <p><%= @cliente.co_cli %></p>
<label>Nombre: </label> <p><%= @cliente.cli_des %></p>
<p>
  <table class="zebra-striped">
    <thead>
      <tr>
        <th class="blue">Fecha Emisión</th> 
        <th class="green">¿Cancelado?</th> 
        <th class="blue">Giros</th> 
        <th class="green">Monto Total</th> 
        <th class="blue">Pago Mensual</th> 
        <th class="green">Giros Vencidos Sin Cancelar</th> 
        <th class="blue">Saldo Vecido Sin Cancelar</th> 
        <th class="green">Saldo Restante</th> 
      </tr>
    </thead>
    <tbody>
      <% @cliente.factura.solo_facturas_creditos.each do |fac| %>
        <tr>
          <% fac.generar_resumen Time.now %>
          <td><%= fac.fec_emis.strftime "%d/%m/%Y" %></td>
          <td><%= fac.cancelado? ? 'Sí' : 'No' %></td>
          <td><%= fac.count_giros %></td>
          <td><%= fac.monto_total %></td>
          <td><%= fac.pago_mensual %></td>
          <td><%= fac.giros_vencidos_sin_cancelar %></td>
          <td><%= fac.saldo_vencido_sin_cancelar %></td>
          <td><%= fac.saldo_restante %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>
<% end %>
<% if @cliente.nil? %>
No Encontrado
<% end %>
<br>
<br>
<%= link_to "Nueva Búsqueda", cuenta_path %>