<% unless @cliente.nil? %>
<h2>Información de Cuenta del Cliente</h2>

<label>Cedula: </label> <p><%= @cliente.co_cli %></p>
<label>Nombre: </label> <p><%= @cliente.cli_des %></p>
<p>
  <table class="table">
    <thead>
      <tr>
        <th class="blue">Fecha Emisión</th> 
        <th class="green">Fecha Vencimiento</th> 
        <th class="blue">Fecha Pago</th> 
        <th class="green">Giro</th> 
        <th class="blue">Monto</th> 
        <th class="green">Saldo</th> 
        <th class="blue">Estado</th> 
      </tr>
    </thead>
    <tbody>
      <% Profit::Factura.by_cliente(@cliente.co_cli).each do |fac| %>
        <% fac.generar_resumen Time.now %>
        <% unless fac.cancelado? %>
          <% fac.los_giros.each do |giro| %>
            <% estado = giro.estado %>
            <tr class="<%= "error" if estado==2 or estado==3 %>" >
              <td><%= giro.fec_emis.strftime "%d/%m/%Y" %></td>
              <td><%= giro.fec_venc.strftime "%d/%m/%Y" %></td>
              <td><%= giro.pago.nil? ? "Sin Cancelar" : giro.pago.fec_cob.strftime("%d/%m/%Y")  %>
              </td>
              <td><%= giro.observa %></td>
              <td><%= giro.monto_net %></td>
              <td><%= giro.saldo %></td>
              <td>
                <%= "<span class=\"label\">Sin Vencer</span>".html_safe if estado==0 %>
                <%= "<span class=\"label label-success\">Cancelado</span>".html_safe if estado==1 %>
                <%= "<span class=\"label label-warning\">Por Pagar</span>".html_safe if estado==2 %>
                <%= "<span class=\"label label-important\">Por Pagar  (Urgente)</span>".html_safe if estado==3 %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</p>
<% end %>
<% if @cliente.nil? %>
No Encontrado
<% end %>
<br>
<br>
<%= link_to "Nueva Búsqueda", cuenta_path %>
