<!DOCTYPE html>
<html>
<head>
  <title>Agencia Royal - Servicios</title>
  <link rel="stylesheet" href="/css/main.css" type="text/css" media="all">  
  <%= stylesheet_link_tag "application", :media => ['all'] %>

  <%= stylesheet_link_tag params[:controller] %>

  <link rel="stylesheet" href="/css/bootstrap-image-gallery.min.css">


</head>
    <body>            
        
        <header>
            <%= render 'layouts/header_main' %>
        </header>
        <hr>
        <div id="container" style="margin-top: -16px;min-height: 369px;">
            <div id="content" class="wrap">

            <%= yield %>
      
            </div>
        </div> <!-- / #container -->        

        <hr>
        <footer>
            <%= render 'layouts/footer' %>
        </footer>        
      <%= javascript_include_tag "application" %>
      <%= javascript_include_tag params[:controller] %>
      <script src="/js/jquery.fancybox-1.3.4.pack.js"></script>  
      <script src="/js/jquery.mousewheel-3.0.4.pack.js"></script>
      <script src="/js/load-image.min.js"></script>
      <script src="/js/bootstrap-image-gallery.min.js"></script>
    </body>
</html>
